.navbar{
  background-color: #66BFBF;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  z-index: 1;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar__menu{
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item{
}

.navbar__links{
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3 ease;
}

.navbar__links:hover{
  color: #11999E;
  transition: all 0.3 ease;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 500%;
  margin-top: 40px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: sans-serif;
  margin: 50px auto 0px auto; 
  font-size: 200%;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11888E;
}

.man{
  margin-top: 30px;
  border-radius: 50%;
}

.profile {
  position: flex;
  padding-top: 55px;
  width: 50%;
  margin: auto;
}

.top-container {
  background-color: #E4F9F5;
  position: flex;
  padding-top: 100px;
}

.middle-container {
  background-color: #E4F9F5;
}

.bottom-container {
  background-color: #66BFBF;
  position: flex;
  padding-top: 50px;
  padding-bottom: 25px;
}


.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row{
   width: 50%;
   margin: 75px auto 75px auto;
}

.footer-link{
  color: #11999E;
  margin: auto 25px auto 25px;
}

.image02 {
  float: right;
}

.image04 {
  float: right;
}

.hr {
  border: none;
  border-top: dotted;
  border-color: #66BFBF;
  margin: 125px 650px auto 650px;
}

.hrdots{
  border: none;
  border-top-style: dotted;
  border-color: #66BFBF;
  margin: 0 170px;
}

.contact_button {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  background-color: #66BFBF;
  border: solid #66BFBF 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 60px;
}

.resume{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  background-color: #66BFBF;
  border: solid #66BFBF 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 60px;
}

.contact_button:hover {
  background: #11999E;
  border: solid #11999E 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.resume:hover {
  background: #11999E;
  border: solid #11999E 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
